$clr-white: #fff;
$clr-black: #000;

$clr-red: #7f2941;

// Blue pallet
$clr-blue-90: #004549;
$clr-blue-80: #aec5ce;
$clr-blue-30: rgba(174, 197, 206, 0.3);

// Grey pallet
$clr-grey-90: #59595c;
$clr-grey-80: #bbbcbb;
$clr-grey-30: #f4f4f8;
