// Abstracts
@use "./abstracts/variables" as *;
@use "./abstracts/utils" as *;
@use "./abstracts/mixins" as *;
// Base
@use "./base/base" as *;
@use "./base/typography" as *;

// COMPONENTS
@use "./components/btn" as *;
@use "./components/card" as *;
@use "./components/dropdown" as *;
@use "./components/sc-title" as *;

// LAYOUT
@use "./layout/header" as *;
@use "./layout/nav" as *;
@use "./layout/footer" as *;
@use "./layout/forms" as *;
@use "./layout/list" as *;

// PAGES
@use "./pages/home" as *;
@use "./pages/about" as *;
@use "./pages/contact" as *;

.hero {
	position: relative;

	&__slider-text {
		max-width: 76.7rem;
		display: flex;
		align-items: flex-end;
		flex-direction: column;
		position: absolute;
		right: 0;
		top: 400px;
	}
	&__slider-title {
		font-family: $font-cormorant;
		font-weight: 700;
		font-size: 9.8rem;
		line-height: 9.6rem;
		letter-spacing: -0.02em;
	}
	&__slider-subtitle {
		font-family: $font-roboto;
		font-weight: 400;
		font-size: 3.6rem;
		line-height: 4.4rem;
	}
	&__slider-btn {
		margin-top: 2rem;
	}
	&__slider-img {
		filter: brightness(70%);
	}
	&__slider-dots {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		margin-bottom: 30px;

		align-items: center;
		gap: 2rem;
		& > * {
			padding: 0;
		}

		& > * > * {
			background-color: rgba(255, 255, 255, 0.6);
			width: 7px;
			height: 7px;
			border-color: transparent;
			aspect-ratio: 1;
		}
	}
	&__slider-dots > .uk-active > * {
		background-color: #fff;
		border-color: transparent;
		width: 12px;
		height: 12px;
	}
}

.surgery {
	background-color: $clr-blue;
	padding: 6rem 0;
	&__cards {
		margin-top: 3rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__card {
		overflow: hidden;
		max-width: 42rem;
		min-height: 74rem;
		border-radius: 3rem;
		position: relative;
		&:hover &-img {
			filter: grayscale(0);
			transform: scale(1.05);
		}
	}
	&__card-img {
		max-width: inherit;
		min-height: inherit;
		object-fit: cover;
		filter: grayscale(1);
		transition: all ease 0.3s;
	}

	&__card-label {
		background-color: $clr-red;
		color: $clr-blue;
		text-align: center;
		text-transform: uppercase;
		padding: 2rem 3.15rem;
		font-family: $font-roboto-sans;
		font-weight: 700;
		font-size: 3.8rem;
		line-height: 4.4rem;
		letter-spacing: -0.01em;
		position: absolute;
		bottom: 4rem;
		left: 2rem;
		right: 2rem;
	}
}

// ==============Section Relevant

.relevant {
	padding: 8rem 0;
	background-color: $clr-grey;
	&__cards {
		margin-top: 6rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__card {
		display: flex;
		flex-direction: column;
		max-width: 42rem;
		min-height: 44rem;
		background-color: $clr-white;
		box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.08);
	}

	&__card-top {
		position: relative;
	}
	&__card-date {
		position: absolute;
		text-align: center;
		text-transform: uppercase;
		color: $clr-blue;
		background-color: $clr-red;
		padding: 0.7rem 1.3rem;

		display: flex;
		align-items: center;
		flex-direction: column;

		span {
			&:nth-child(1) {
				font-family: $font-roboto-sans;
				font-weight: 700;
				font-size: 2rem;
				line-height: 1.8rem;
			}
			&:nth-child(2) {
				font-family: $font-roboto;
				font-weight: 500;
				font-size: 1.4rem;
				line-height: 1.8rem;
			}
			&:nth-child(3) {
				font-family: $font-roboto-sans;
				font-weight: 700;
				font-size: 1rem;
				line-height: 1.2rem;
			}
		}
	}
	&__card-img {
		object-fit: cover;
		max-width: inherit;
		min-height: 32rem;
	}

	&__card-info {
		padding: 2rem;
	}
	&__card-title {
		font-family: $font-roboto-sans;
		font-weight: 700;
		font-size: 2.4rem;
		line-height: 3rem;
		letter-spacing: -0.01em;
		color: $clr-red;
		position: relative;
		padding-bottom: 1.5rem;

		&::after {
			@include bf-af($clr-blue, 0, 0, 0);
		}
	}

	&__slider-dots {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		margin-top: 6rem;
	}
	&__slider-dot {
		border: 1px solid $clr-red;
		width: 1.6rem;
		height: 1.6rem;
		background-color: transparent;
		border-radius: 50%;
		cursor: pointer;

		&--active {
			position: relative;
			&::after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				border-radius: 50%;
				display: inline-block;
				width: 0.9rem;
				height: 0.9rem;
				background-color: $clr-red;
			}
		}
	}
}
