@use "../abstracts/variables" as *;
@use "../base/typography" as *;
.footer {
	background-color: $clr-red;
	padding: 6rem 0 4rem;

	&__wrapper {
		display: flex;
		align-items: flex-start;
		gap: 6rem;
	}

	&__info {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		gap: 2rem;
		margin-right: 3rem;
	}

	&__contact-wrapper {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	&__contact {
		display: flex;
		align-items: flex-start;
		gap: 1.5rem;
	}

	&__contact-icon {
		width: 1.6rem;
		height: 1.6rem;
		filter: saturate(1);
	}
	&__contact-link,
	&__address {
		font-size: 1.4rem;
		line-height: 1.8rem;
		color: $clr-white;
	}
	&__contact-link:hover {
		opacity: 0.6;
	}

	&__list-wrapper {
		display: flex;
		flex-direction: column;
	}

	&__list {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		gap: 1.5rem;
		padding-top: 2rem;
		max-width: 18.2rem;
		border-top: 1px solid $clr-blue-80;
	}
	&__list-title {
		font-family: $font-cormorant;
		font-weight: 500;
		font-size: 2.4rem;
		line-height: 2.9rem;
		text-transform: uppercase;
		color: $clr-blue-80;
		margin-bottom: 2rem;
	}
	&__link {
		font-size: 1.4rem;
		line-height: 1.6rem;
		color: $clr-white;
		transition: all ease 0.3s;
		&:hover {
			transform: translateX(5px);
			opacity: 0.6;
		}
	}
}

.social {
	margin-top: 4rem;
	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 2.1rem 0;
		border-bottom: 1px solid $clr-blue-30;
		border-top: 1px solid $clr-blue-30;
	}
	&__link {
		display: flex;
		align-items: center;
		gap: 1rem;
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 1.9rem;
		text-transform: uppercase;
		color: $clr-blue-80;
		&:hover {
			opacity: 0.6;
		}
	}
}

.copy {
	margin-top: 4rem;
	&__text {
		text-align: center;
		font-size: 1.2rem;
		line-height: 1.4rem;
		color: $clr-white;
		opacity: 0.5;
	}
}

@media screen and (max-width: 950px) {
	.footer {
		padding: 4rem 0;

		&__wrapper {
			gap: 4rem;
		}

		&__contact {
			display: flex;
			align-items: flex-start;
			gap: 1.5rem;
		}

		&__list-title {
			font-size: 2rem;
			line-height: 2.3rem;
			margin-bottom: 1rem;
		}
	}

	.social {
		&__list {
			padding: 2rem 0;
			justify-content: space-around;

		}
		&__link {
			font-size: 1.4rem;
		}
		&__link-text {
			display: none;
		}
	}

	.copy {
		margin-top: 2rem;
	}
}

@media screen and (max-width: 768px) {
	.footer {
		padding: 2rem 0;

		&__wrapper {
			flex-direction: column;
			align-items: center;
			gap: 3rem;
		}

		&__info {
			gap: 2rem;
			margin-right: 0;
			align-items: center;
		}

		&__contact {
			align-items: center;
			gap: 1rem;
		}

		&__list-wrapper {
			align-items: center;
		}

		&__list {
			align-items: center;
			gap: 1rem;
		}
		&__list-title {
			margin-bottom: 0;
		}
	}
}
