@use "../abstracts/variables" as *;
@use "../base/typography" as *;
.footer {
	background-color: $clr-red;
	padding: 6rem 0 4rem;

	&__wrapper {
		display: flex;
		align-items: flex-start;
		gap: 6rem;
	}

	&__info {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		gap: 2rem;
		margin-right: 3rem;
	}

	&__contact-wrapper {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
	}

	&__contact {
		display: flex;
		align-items: flex-start;
		gap: 1.5rem;
	}

	&__contact-icon {
		width: 1.6rem;
		height: 1.6rem;
		filter: saturate(1);
	}
	&__contact-link,
	&__address {
		font-size: 1.4rem;
		line-height: 1.8rem;
		color: $clr-white;
	}

	&__list-wrapper {
		display: flex;
		flex-direction: column;
	}

	&__list {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		gap: 1.5rem;
		padding-top: 2rem;
		max-width: 18.2rem;
		border-top: 1px solid $clr-blue;
	}
	&__list-title {
		font-family: $font-cormorant;
		font-weight: 500;
		font-size: 2.4rem;
		line-height: 2.9rem;
		text-transform: uppercase;
		color: $clr-blue;
		margin-bottom: 2rem;
	}
	&__link {
		font-size: 1.4rem;
		line-height: 1.6rem;
		color: $clr-white;
	}
}

.social {
	margin-top: 4rem;
	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 2.1rem 0;
		border-bottom: 1px solid $clr-blue-30;
		border-top: 1px solid $clr-blue-30;
	}
	&__item {
	}
	&__link {
		display: flex;
		align-items: center;
		gap: 1rem;
		font-weight: 500;
		font-size: 1.6rem;
		line-height: 1.9rem;
		text-transform: uppercase;
		color: $clr-blue;
	}
	&__img {
	}
}
