@use "../abstracts/variables" as *;
@use "../base/typography" as *;
.form {
	background-color: #fefefe;
	box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.08);
	border-radius: 3rem;
	padding: 4rem;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	gap: 3rem;
	flex: 1;
	&__inputs {
		display: flex;
		width: 100%;
		align-items: center;
		gap: 3rem;
	}
	&__input {
		flex: 1;
		outline: none;
		border: 1px solid $clr-grey-30;
		background-color: $clr-grey-30;
		border-radius: 2rem;
		font-size: 1.8rem;
		line-height: 2.1rem;
		padding: 1.5rem;
		&:hover {
			border: 1px solid $clr-grey-80;
		}

		&::placeholder {
			font-size: 1.8rem;
			line-height: 2.1rem;
			color: #a7a8a9;
		}

		&--light {
			background-color: $clr-white;
			border: 1px solid #a7a8a9;
			&:hover {
				border: 1px solid $clr-blue-30;
			}
		}
	}
	&__textarea {
		width: 100%;
		background-color: #f4f4f8;
		border-radius: 2rem;
		border: none;
		resize: none;
		padding: 1.5rem;
		min-height: 7rem;
		font-size: 1.8rem;
		line-height: 2.1rem;
		outline: none;
		font-family: $font-roboto;
		border: 1px solid transparent;

		&:hover {
			border: 1px solid $clr-grey-80;
		}
		&::placeholder {
			font-size: 1.8rem;
			line-height: 2.1rem;
			color: #a7a8a9;
		}
	}
	&__checkbox {
		width: 1.6rem;
		height: 1.6rem;
	}

	&__accept {
		display: flex;
		align-items: center;
		gap: 1.5rem;
	}
	&__accept-text,
	&__link {
		color: $clr-red;
		font-size: 1.8rem;
	}
	&__link {
		color: #229ed9;
		&:hover{
			text-decoration: underline;
		}
	}
}
