@use "../base/typography" as *;
@use "../abstracts/variables" as *;
.btn {
	border: none;
	outline: none;
	text-align: center;
	text-transform: uppercase;
	border-radius: 10rem;
	text-decoration: none;
	cursor: pointer;
	transition: all ease 0.3s;

	&--blue {
		font-family: $font-cormorant;
		font-weight: 700;
		font-size: 3.6rem;
		line-height: 4.4rem;
		letter-spacing: -0.01em;
		color: $clr-red;
		padding: 2rem 4rem;
		background-color: $clr-blue-80;
		&:hover {
			background-color: $clr-red;
			color: $clr-blue-80;
		}
	}

	&--red {
		font-family: $font-roboto;
		font-size: 1.8rem;
		background-color: $clr-red;
		color: $clr-blue-80;
		padding: 1.5rem 3rem;
		&:hover {
			background-color: $clr-blue-80;
			color: $clr-red;
		}
	}
}

.scroll__top-btn {
	position: fixed;
	z-index: 100;
	bottom: 2rem;
	right: 2rem;
	padding: 2rem;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	background-color: $clr-blue-80;
	transition: all ease-in 0.3s;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

	&:hover {
		background-color: $clr-grey-30;
		img {
			animation: scrollToTop 1s linear infinite alternate;
		}
	}
}

@keyframes scrollToTop {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(5px);
	}
	100% {
		transform: translateY(0px);
	}
}
