@use "../abstracts/variables" as *;
@use "../base/typography" as *;
@use "../abstracts/mixins" as *;

.section {
	&__top {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	&__link {
		font-weight: 400;
		font-size: 1.8rem;
		line-height: 2.1rem;
		margin-bottom: 1.5rem;
		text-transform: uppercase;
		color: $clr-dark-blue;
	}

	&__title {
		font-family: $font-cormorant;
		font-weight: 700;
		font-size: 4.8rem;
		line-height: 5rem;
		text-align: center;
		letter-spacing: -0.01em;
		text-transform: uppercase;
		color: $clr-red;
		position: relative;
		padding-bottom: 1.5rem;

		max-width: 89rem;
		&::after {
			@include bf-af($clr-red, 0, 0, 0);
			margin: 0 auto;
		}

		&.border--blue {
			&::after {
				@include bf-af($clr-blue, 0, 0, 0);
				margin: 0 auto;
			}
		}
	}

	&__description {
		font-size: 1.6rem;
		line-height: 2.8rem;
		text-align: center;
		color: $clr-red;
		max-width: 63rem;
		margin-top: 2rem;
	}
}
