@use "../abstracts/variables" as *;
@use "../base/typography" as *;
.doctors {
	background-color: $clr-white;
	padding: 3rem 6rem 6rem;
	min-height: 200rem;
	box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.08);

	&__articles {
		display: flex;
		flex-direction: column;
		text-align: center;
		gap: 2rem;
		margin-top: 4rem;
	}

	&__article-title {
		margin: 2rem 0;
	}

}
