@use "../abstracts/variables" as *;
@use "../base/typography" as *;
.last-news {
	background-color: $clr-white;
	padding: 3rem 6rem 6rem;
	min-height: 200rem;
	box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.08);

  & .section__content{
    max-width: 100%;
  }

  &__img{
    width: 100%;
  }
}
