@use "../abstracts/variables" as *;
@use "../base/typography" as *;
.hospital {
	background-color: $clr-white;
	padding: 3rem 6rem 6rem;
	min-height: 130rem;
	box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.08);
}
