@use "../abstracts/variables" as *;
@use "../base/typography" as *;

.surgery-types {
	margin-bottom: 18rem;
	&__link {
		width: 100%;
	}
	&__content {
		margin-top: 3rem;
	}
	&__banner {
		position: relative;
		background-image: linear-gradient(90deg, rgba(127, 41, 65, 0.56) 0%, rgba(255, 255, 255, 0.0952) 83.85%);
		width: 100%;
	}
	&__banner-img {
		width: 100%;
		position: relative;
		z-index: -1;
	}

	&__banner-text {
		position: absolute;
		top: 50rem;
		left: 0;

		font-weight: 500;
		font-size: 4.8rem;
		line-height: 4rem;
		text-align: center;
		max-width: 45rem;
		letter-spacing: -0.01em;
		color: $clr-white;
	}
	&__banner-bottom {
		font-size: 3.7rem;
		line-height: 4rem;
		text-align: center;
		letter-spacing: 0.02em;
		color: $clr-red;
		padding: 2rem;
		background-color: $clr-blue-80;
		margin-bottom: 8rem;
	}
}

@media screen and (max-width: 1100px) {
	.surgery-types {
		margin-bottom: 10rem;

		&__banner-text {
			top: 30%;
			font-size: 4rem;
			line-height: 4.2rem;
		}
		&__banner-bottom {
			font-size: 3rem;
			margin-bottom: 5rem;
		}
	}
}

@media screen and (max-width: 570px) {
	.surgery-types {
		&__banner-text {
			font-size: 2rem;
			line-height: 2.5rem;
		}
		&__banner-bottom {
			font-size: 2rem;
			line-height: 2.5rem;
			margin-bottom: 5rem;
		}
	}
}
